/*Hover para color y font-size de los li impares de la lista número 1 del main.
Nótose como se selecciona con ">" el ul número uno del main. De otra forma
se estarían seleccionando todos los elementos ul dentro del main.*/

/* main > ul:first-child li:nth-child(odd):hover{
    color:red;
    font-size: 1.8rem;
} */

/*************************************************************************************/

/* Selecciona un ul dentro de un li que a su vez está dentro del ul child(2) del main */

/* ul:nth-child(2) li ul{
    color: red;
} */

/*************************************************************************************/

/*pseudoclase :checked para inputs de checkbox y radiobutton*/
/* input[type="checkbox"]:checked{
    outline: 2px solid red;
    border: none;
} */

/* form input:checked{
    outline: 2px solid red;
} */

/*************************************************************************************/

/*Jugando con las pseudoclases a enlaces*/

/* main > ul:last-child{
    list-style: none;
}

main > ul:last-child li a:link{
    text-decoration: none;
    color: aquamarine;
    background-color: blueviolet;
} */

/*************************************************************************************/

/*Practicando el color*/
/* div{
    width: 10rem;
    height: 5rem;
    background-color: #cc80bb;
} */


 