@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

/*########## HEADER ##########*/

/*propiedades background-clip repetidas para aumentar compatibilidad*/
header > h1 {
    text-align: center;main > section > img:nth-child(3);
    margin: 2rem 0;
    font-size: 2.8rem;
    background: linear-gradient(to bottom right, red, 25%, purple, 65%, orange);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

header > p {
    text-align: center;
    font-size: 1.5rem;
}

/*########## MAIN ##########*/

main {
    padding: 2rem 4rem;
}

section {
    margin-bottom: 3rem;
}

/*GRADIENT SECTION 1*/
.section1 {
    /* background-color: beige; */
    width: 100%;
    height: 400px;
    padding: 2rem;
}

.gradient-section1 {
    width: 80%;
    height: 80%;
    background: linear-gradient(to bottom right, #2C5E31, #aaaa87, #797D4E);
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 4px 4px 40px rgba(37, 37, 37, 0.5);
}

.footer-section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.footer-section1 > p {
    font-size: 1.2rem;
    /* background-color: #494949; */
    background: linear-gradient(to right, #2C5E31, #aaaa87, #797D4E);
    color: white;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    cursor: text;
    box-shadow: 4px 4px 40px rgba(37, 37, 37, 0.5);
    transition: transform .5s ease-in-out;
}

.footer-section1 > p:hover {
    transform: scale(1.03);
}

.footer-section1 > p::selection {
    background: #494949;
}

.footer-section1 > img:first-child {
    height: 30px;
}

.footer-section1 > img:nth-child(2) {
    margin-right: 2rem;
}

/*GRADIENT SECTION 2*/
.section2 {
    /* background-color: beige; */
    width: 100%;
    height: 400px;
    padding: 2rem;
}

.gradient-section2 {
    width: 80%;
    height: 80%;
    background: linear-gradient(to bottom right, #EBA817, 20%, #00BBF9, 70%, #FF24AD);
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 4px 4px 40px rgba(37, 37, 37, 0.5);
}

.footer-section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.footer-section2 > p {
    font-size: 1.2rem;
    /* background-color: #494949; */
    background: linear-gradient(to right, #EBA817, 20%, #00BBF9, 70%, #FF24AD);
    color: white;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    cursor: text;
    box-shadow: 4px 4px 40px rgba(37, 37, 37, 0.5);
    transition: transform .5s ease-in-out;
}

.footer-section2 > p:hover {
    transform: scale(1.03);
}

.footer-section2 > p::selection {
    background: #494949;
}

.footer-section2 > img:first-child {
    height: 30px;
}

.footer-section2 > img:nth-child(2) {
    margin-right: 2rem;
}

/*GRADIENT SECTION 3 ANIMATED*/
.section3 {
    /* background-color: beige; */
    width: 100%;
    height: 400px;
    padding: 2rem;
}

.gradient-section3 {
    width: 80%;
    height: 80%;
    background: linear-gradient(to top right, #EC1319, #305dd6);
    background-size: 400% 400%;
    animation: section3 10s ease infinite;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 4px 4px 40px rgba(37, 37, 37, 0.5);
}

@keyframes section3 {
    from {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    to{
        background-position: 0% 50%;
    }
}

.gradient-section3 > img {
    position: relative;
    top: 10px;
    left: 10px;
    height: 30px;
    animation: animation-icon 1s ease alternate infinite;
}

@keyframes animation-icon {
    from {
        transform: scale(1.1) rotate(5deg);
    }

    50% {
        transform: scale(1) rotate(-5deg);
    }

    to {
        transform: scale(1.1) rotate(5deg);
    }
}

.footer-section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.footer-section3 > p {
    font-size: 1.2rem;
    /* background-color: #494949; */
    background: linear-gradient(to right, #EC1319, #305dd6);
    color: white;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
    cursor: text;
    box-shadow: 4px 4px 40px rgba(37, 37, 37, 0.5);
    transition: transform .5s ease-in-out;
}

.footer-section3 > p:hover {
    transform: scale(1.03);
}

.footer-section3 > p::selection {
    background: #494949;
}

.footer-section3 > img:first-child {
    height: 30px;
}

.footer-section3 > img:nth-child(2) {
    margin-right: 2rem;
}

