@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

/*General (html, body)*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    --color-form: #f0f0f0;
    --colorpage: #90c5c5;
}

body{
    background-color: var(--colorpage);
}

/* Header */
header > h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin: 1.5rem 1.5rem;
}

/* Form */
form {
    background-color: var(--color-form);
    margin: 0 2rem 2rem 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    border-radius: 5px;
}

form > p:first-child{
    padding: 1.5rem 1.5rem;
    text-align: center;
}

ul > li{
    list-style: none;
    margin-bottom: 2rem;
    text-align: center;
}

/* Inputs, selects, checkbox, radio */
input[type="text"], input[type="email"], input[type="number"]{
    width: 300px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #9b9b9b;
    margin-left: 15px;
    padding-left: 5px;
}

select{
    width: 130px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #9b9b9b;
    margin-left: 15px;
    text-align: left;
    padding-left: 5px;
    background-color: white;
}


input[type="radio"], input[type="checkbox"]{
    margin-top: 15px;
}

form > ul > li:nth-child(5) > label{
    padding-right: 20px;
}

form > ul > li:last-of-type > label{
    padding-right: 20px;
}

/* Button */
div{
    text-align: center;
    padding-bottom: 1.5rem;
}

button{
    width: 100px;
    height: 25px;
    border: 1px solid #9b9b9b;
    border-radius: 10px;
    font-size: 1rem;
    background-color: white;
}

button:hover{
    background-color: #9b9b9b;
    border: 1px solid black;
    color: white;
    cursor: pointer;
}
