@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*########## HEADER ##########*/

header{
    min-height: 15vh;
}
header > nav{
    background-color: whitesmoke;
}

header > nav > ul{
    list-style: none;
    text-align: center;
}

header > nav > ul > li > a{
    text-decoration: none;
    font-weight: 500;
    color: black;
}

header > nav > ul > li{
    padding: .5rem 0;
}

/*Menú deplegable*/
header > nav > input{
    display: none;
}

header > nav > ul{
    display: none;
}

header > nav > input:checked + ul{
    display: block;
}

/*########## MAIN ##########*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

main > h1{
    margin: 1rem 0;
}

main > section{
    margin: 1rem 1rem 3rem 1rem;
    text-align: center;
}

main > section > img{
    width: 300px;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #252525;
    border: 1px solid black;
}

main > section > p{
    text-align: justify;
    margin-bottom: 1.5rem;
    font-size: 20px;
}

.btn{
    background-color: rgb(10, 76, 175);
    padding: .8rem 2rem;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    font-size: 20px;
}

/*########## FOOTER ##########*/

footer{
    background-color: whitesmoke;
    text-align: center;
    padding: 1rem 0;
    min-height: 10vh;
}

footer > h2, h3{
    margin: 1rem 0;
}

footer > h3{
    text-transform: uppercase;
}

/*########## MEDIA QUERIES ##########*/

/*media 700px*/

@media (min-width: 700px) {
    header > nav > label{
        display: none;
    }
    
    header > nav > ul{
        display: block;
    } 
    header > nav > ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
    }
    header > nav > ul > li{
        padding: 1.5rem 0;
    }
    main > section > img{
        width: 550px;
    }
}

/*media 1200px*/

@media (min-width: 1200px) {
    main > section > img {
        width: 900px;
    }
}