@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Space+Mono:wght@400;700&display=swap');

/* font-family: 'Russo One', sans-serif;
font-family: 'Space Mono', monospace; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Space Mono', monospace;
  scroll-behavior: smooth;
}

/*########## HEADER ##########*/

header {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem 5rem;
  margin-top: 1.5rem;
}

header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > nav > p {
  font-family: 'Russo One', sans-serif;
  font-size: 3rem;
}

header > nav > ul {
  list-style: none;
  display: flex;
  gap: 5rem;
  margin-left: 30rem;
}

header > nav > ul > li > a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}

header > nav > a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  background-color: #252525;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  cursor: pointer;
}

/*########## MAIN ##########*/

/*first section*/
main > section:first-child {
  height: 80vh;
  position: relative;
  z-index: -1; /*poder acceder a navbar*/
}

.video {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: fill;
}

main > section:first-child > h2 {
  position: absolute;
  top: 300px;
  left: 5rem;
  color: white;
  font-size: 4.5rem;
  width: 60%;
}

main > section:first-child > p {
  position: absolute;
  top: 550px;
  left: 5rem;
  color: white;
  font-size: 3rem;
  width: 55%;
}

/*Second section, about us*/
main > section:nth-child(2) {
  padding: 5rem;
}

main > section:nth-child(2) > h2 {
  font-size: 3rem;
  text-align: center;
}

main > section:nth-child(2) > p {
  font-size: 3rem;
  text-align: center;
}

.team {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  gap: 2rem;
}

.team > img {
  width: 900px;
  border-radius: 5px;
  box-shadow: 2px 2px 40px rgb(173, 173, 173);
}

.team > ul {
  font-size: 2rem;
  list-style: none;
}

.team > ul > li {
  margin-bottom: 3rem;
}

/*WORKERS*/
main > section:nth-child(3) {
  padding: 3rem 5rem;
  background-color: #d6d6d6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 80px 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 50px;
}

main > section:nth-child(3) > h2 {
  font-size: 3rem;
  text-align: center;
  grid-area: 1 / 1 / 2 / 3;
}

.erik,
.john,
.maria,
.sasha {
  text-align: center;
  width: 100%;
  height: 100%;
}

.erik h3,
.john h3,
.maria h3,
.sasha h3 {
  font-size: 2rem;
}

.erik p,
.john p,
.maria p,
.sasha p {
  font-size: 1.5rem;
}

.erik > img,
.john > img,
.maria > img,
.sasha > img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

/*PRODUCTS*/
main > section:nth-child(4) {
  display: grid;
  padding: 3rem 5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 80px repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 80px;
  grid-template-areas:
    'title title'
    'robotics robotics'
    'software software'
    'engineering engineering';
}

main > section:nth-child(4) > h2 {
  grid-area: title;
  font-size: 3rem;
}

.robotics {
  grid-area: robotics;
}

.software {
  grid-area: software;
}

.engineering {
  grid-area: engineering;
}

.products > aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products > aside > ul {
  list-style: none;
  width: 50%;
}

.products > aside > ul h3 {
  font-size: 2rem;
}

.products > aside > ul > li:nth-child(2) {
  margin-top: 1.5rem;
}

.products > aside > ul p {
  font-size: 1.5rem;
}

.robotics > img,
.software > img,
.engineering > img {
  width: 690px;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 2px 2px 40px rgb(173, 173, 173);
}
