*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*########## HEADER ##########*/

header > nav{
    background-color: rgb(102, 102, 102);
    text-align: center;
    padding: 35px 0;
}

header > nav > ul > li{
    display: inline;
    margin-right: 35px;
}

header > nav > ul > li > a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}

header > h1{
    margin: 45px 0 45px 0;
    text-align: center;
}

/*########## MAIN ##########*/

main{
    display: flex;
    justify-content: center;
}

main > img{
    width: 400px;
    border: 1px solid black;
}

main > div{
    margin-left: 150px;
}

main > div > p{
    text-align: center;
    margin-bottom: 4rem;
    font-size: 25px;
    font-weight: bold;
}

main > div > p:first-child{
    margin-top: 50px;
}

/*########## FOOTER ##########*/

footer{
    background-color: rgb(8, 8, 48);
    margin-top: 50px;
    height: 200px;
    text-align: center;
}

footer > p:first-child{
    padding: 50px 0 50px 0;
    color: white;
    font-size: 20px;
}

/*########## BUTTON ##########*/

.btn{
    background-color: orange;
    padding: 20px 30px;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    color:white;
    border-radius: 10px;
    font-weight: bold;
}

.btn:hover{
    border: 2px solid rgb(182, 127, 24);
}