* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

header {
    padding: 3rem;
    text-align: center;
}

header > h1 {
    font-size: 4rem;
    background: linear-gradient( rgb(4, 126, 44), rgb(255, 60, 0));
    -webkit-background-clip: text;
    color: transparent;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main > section {
    display: grid;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

.flower1 {
    grid-column: 1 / span 2;
    grid-row: 1 / 4;
}

.flower2 {
    grid-row: 1 / 4;
}

.flower3 {
    grid-column: 1 / span 2;
}

.flower6 {
    grid-column: 2 / span 2;
}


