*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Courier New', Courier, monospace;
}

/*########## HEADER ##########*/

header > nav > input{
    display: none;
}

header > nav{
    background-color: #252525;
    padding: 1rem 0;
    display: flex;
    align-items: center;
}

header > nav > p{
    font-size: 30px;
    color: white;
    margin-left: 1rem;
}

header > nav > label > img{
    width: 30px;
    margin-left: .5rem;
}

header > nav > label > img:hover{
    transform: scale(1.1);
}

header > nav > ul{
    list-style: none;
    position: absolute;
    top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header > nav > ul > li{
    padding: 2rem 0;
}

header > nav > ul > li > a{
    text-decoration: none;
    color: rgb(128, 7, 97);
    font-size: 20px;
    font-weight: 700;
    transition: color .3s ease-in-out;
}

header > nav > ul > li > a:hover{
    color: #252525;
}

header > nav > ul{
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: clip-path .6s ease-in-out, border-bottom .8s ease-in-out, border-top .8s ease-in-out;
    background-color: rgb(245, 108, 211);
}

header > nav > input:checked + ul{
    clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
    border-bottom: 10px solid rgb(128, 7, 97);
    border-top: 10px solid rgb(128, 7, 97)
}

