@import url(/css/fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
}

/*########## HEADER ##########*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    position:fixed;
    background-color: white;
    width: 100%;
    top: 0;
}

header > img {
    height: 35px;
    position: relative;
    right: 22px;
}

header > nav > input {
    display: none;
}

/*Con el clip-path no es necesario establecer un display: none. Lo sustituye.*/
header > nav > ul {
    position: absolute;
    left: 0;
    list-style: none;
    width: 70%;
    background-color: rgba(189, 192, 30, 0.6);
    padding: 1rem 0;
    /* display: none; */
    margin-top: .5rem;
    clip-path: polygon(0 0, 0% 0, 0% 0%, 0% 0%);
    transition: all .5s ease-in-out;
}

header > nav > input:checked + ul {
    clip-path: polygon(0 8%, 88% 0, 57% 100%, 0% 93%);
}

header > nav > ul > li > a{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin: 1.2rem 1rem;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
}

header > nav > ul > li > a > img {
    height: 30px;
}


/*########## MAIN ##########*/

main {
    margin: 1rem;
    margin-top: 5rem;
}

main > article {
    margin: 1rem 0;
}

main > article {
    border: 1.5px solid black;
    border-radius: 10px;
    overflow: hidden;
    height: 350px;
    background: linear-gradient(to top, rgba(189, 192, 30, 1), rgba(189, 192, 30, 0.6));
}

main > article > figure > img {
    width: 100%;
    height: 70%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    object-fit: cover;
}

main > article > figure {
    margin: 1rem;
    height: 100%;
}

main > article > figure > h2 {
    margin: .5rem 0;
}

main > article > figure > p {
    text-align: justify;
}

/*########## FOOTER ##########*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

footer > h3 {
    text-align: center;
    font-size: 1rem;
    margin-top: 1rem;
}

footer > ul > li > a{
    background-image: url(/icons/instagram.png);
}




