*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

header > img[alt="menu"]{
    height: 25px;
    margin: 0 25px 0 25px;
}

header > img[alt="logo"]{
    height: 30px;
    margin-right: 200px;
}

header > input[type="search"]{
    height: 35px;
    width: 400px;
    padding-left: 5px;
    border: 1px solid grey;
}

header > input[type="search"]:active{
    border: 1px solid blue;
    outline: none;
}

header > button{
    height: 35px;
    width: 55px;
    border: 1px solid grey;
    cursor: pointer;
    background-color: rgb(238, 238, 238);
    border-left: none;
}

header > button:hover{
    background-color: rgb(218, 218, 218);
    box-shadow: 0 .5px 2px grey;
}

header > button > img{
    height: 15px;
    display: block;
    margin: 0 auto;
}

header > img[alt="microphone"]{
    height: 18px;
    margin-left: 15px;
}

header > img[alt="camera"]{
    height: 25px;
    margin-left: 400px;
}

header > img[alt="bell"]{
    height: 25px;
    margin-left: 30px;
}

header > img[alt="user"]{
    height: 40px;
    border-radius: 50%;
    margin-left: 30px;
}

header{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    height: auto;
    padding: 15px 0 15px 0;
    width: 100%;
}

/*Main*/

main{
    background-color: rgb(240, 240, 240);
    padding: 25px 0 0 45px;
}

main > div{
    background-color: black;
    width: 800px;
    height: 500px;
}

main > div > p{
    color: white;
    text-align: center;
    font-size: 40px;
    display: block;
    position: relative;
    top: 45%;
}





