.container{
    background-color: antiquewhite;
    height: 800px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.container > div{
    background-color: aqua;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

p{
    text-align: center;
}