@import url(/css/fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

/*########## HEADER ##########*/

header {
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

header > nav > ul {
  position: absolute;
  left: 0;
  top: 84px;
  list-style: none;
  width: 100%;
  background-color: rgba(255, 165, 0, 0.9);
  clip-path: polygon(0 0, 0% 0, 0% 0%, 0% 0%);
  transition: clip-path 0.5s ease-in-out;
}

header > nav > input:checked + ul {
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

header > nav > ul > li {
  padding: 1.5rem 0;
  text-align: center;
}

header > nav > ul > li > a {
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  font-weight: 600;
}

header > h1 {
  font-size: 2rem;
  font-family: 'Caveat', cursive;
}

header > nav > input {
  display: none;
}

/*########## MAIN ##########*/

main > section:first-of-type {
  height: 50vh;
  background-image: url(/pics/restaurant.jpg);
  background-size: cover;
  background-repeat: none;
  position: relative;
  z-index: -1;
}

div.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
}

main > section:first-of-type > h2 {
  text-align: center;
  color: white;
  position: relative;
  top: 70px;
  font-size: 2.3rem;
}

main > section:first-of-type > a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  position: relative;
  top: 85px;
  background-color: orange;
  width: 250px;
  margin: 0 auto;
  padding: 0.8rem 0;
  border-radius: 15px;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

main > section:nth-child(2) {
  background-color: rgb(99, 47, 47);
  padding: 0 1rem 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  justify-content: center;
  position: relative;
}

main > section:nth-child(2) > h2 {
  color: white;
  font-size: 1.6rem;
  grid-area: 1 / 1 / 2 /4;
  text-align: left;
}

.pizza-pic,
.pasta-pic,
.lasagna-pic {
  width: 100%;
  border-radius: 5px;
}

.pizza {
  grid-area: 2 / 1 / 3 / 4;
  position: relative;
  padding: 0.5rem 0;
  object-fit: cover;
}

.pasta {
  grid-area: 3 / 1 / 4 / 4;
  position: relative;
  padding: 0.5rem 0;
  object-fit: cover;
}

.lasagna {
  grid-area: 4 / 1 / 5 / 4;
  position: relative;
  padding: 0.5rem 0;
  object-fit: cover;
}

main > section:nth-child(3) > h2 {
  color: white;
  font-size: 1.6rem;
  text-align: center;
}

main > section:nth-child(3) {
  padding: 2rem 1rem 0 1rem;
  /* background-color: rgb(99, 47, 47); */
  height: 80vh;
  background-image: url(/pics/pasta-making.jpg);
  background-position: center;
  background-size: cover;
}
