/*RESET###################################################*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/*HEADER##################################################*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 1rem;
}

header > h1 {
  color: red;
}

.menu {
  width: 2.55rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.6rem;
}

.menu > div {
  width: 100%;
  height: 3px;
  background: #000;
  border-radius: 30px;
  transform-origin: left;
}

/*MAIN*/
main {
  position: relative;
}

.menu-list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  display: none;
}

.menu-list > li {
  font-size: 1.5rem;
  text-align: right;
  border-bottom: 2px solid red;
  padding-bottom: 0.3rem;
}

.nav {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 0;
  transition: all 1s ease-in-out;
}

/*ocultar nav*/
.nav-open {
  height: 100vh;
}

.open {
  display: flex;
}
