* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
}
.container {
  width: 70%;
}

h1 {
  font-size: 15rem;
  font-family: Arial, Helvetica, sans-serif;
  background: conic-gradient(
    rgb(140, 13, 13),
    red 20%,
    rgb(152, 102, 10) 20%,
    orange 40%,
    rgb(95, 135, 16) 40%,
    yellowgreen 60%,
    rgb(27, 125, 158) 60%,
    lightblue 80%,
    rgb(65, 17, 65) 80%,
    purple
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 50%;
  animation: back 1.5s ease forwards;
}

h1:hover {
  animation: go 1.5s ease forwards;
}

@keyframes go {
  0% {
    background-size: 50%;
    background-position: 0 0;
  }
  20% {
    background-size: 55%;
    background-position: 10rem 10rem;
  }
  100% {
    background-size: 325%;
    background-position: 0 0;
  }
}

@keyframes back {
  0% {
    background-size: 325%;
    background-position: 0 0;
  }
  20% {
    background-size: 55%;
    background-position: -10rem -10rem;
  }
  100% {
    background-size: 50%;
    background-position: 0 0;
  }
}
