* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Courier New', Courier, monospace;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body > main {
  flex-grow: 1;
  padding: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background-color: #000;
  color: #fff;
}

header > h2 {
  font-size: 1rem;
}

header > img {
  height: 40px;
}

main > h2 {
  text-align: center;
  margin-bottom: 1rem;
}

main > form {
  text-align: center;
  margin-bottom: 2rem;
}

main > form > input {
  padding-left: 0.5rem;
  height: 30px;
}

ul.pokemons {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  text-transform: uppercase;
  text-align: center;
}

footer {
  background-color: #fb1b1b;
  padding: 2rem;
  text-align: center;
}

@media (min-width: 700px) {
  header > img {
    height: 60px;
  }
}
