@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    --colorpage: rgb(219, 218, 218);
    --colorheader: rgb(155, 155, 155);
    --colorfooter: rgb(2, 2, 48);
    --colorbutton: rgb(223, 151, 17);
    --colorbutton-hover: rgb(235, 177, 70);
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* Header */
header > nav{
    background-color: var(--colorheader);
    text-align: center;
}

header > nav > ul > li{
    list-style: none;
    display: inline-block;
    padding: 2rem 2rem;
}

header > nav > ul > li > a{
    text-decoration: none;
    margin-right: 2rem;
    font-size: 20px;
    color: white;
}

h1{
    margin: 2rem 2rem;
    text-align: center;
}

/* Main */
main > img{
    display: block;
    margin: 0 auto 2rem auto;
    width: 300px;
    border: 1.5px solid #252525;
}

main > img:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 8px #252525;
}

main > div > p{
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 20px;
    font-weight: 500;
}

main > div > p:nth-child(4){
    margin-top: 3rem;
}

/* Button */
.btn{
    text-decoration: none;
    background-color: var(--colorbutton);
    padding: 1rem 5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    border-radius: 8px;
}

.btn:hover{
    background-color: var(--colorbutton-hover);
}

/* Footer */
footer{
    background-color: var(--colorfooter);
    height: 200px;
    margin-top: 3rem;
    text-align: center;
}

footer > p:first-child{
    padding: 3rem 3rem;
    color: white;
    font-size: 20px;
}

