@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* General */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    --colorheader: #333232;
    --colorpage: rgb(221, 221, 221);
    --colorfooter: #011029;
    --colorbutton: rgb(223, 147, 7);
    --colorbuttonhover: rgb(235, 185, 93);
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--colorpage);
}
/* Header */
header{
    background-color: var(--colorheader);
    padding: 2rem 2rem;
    text-align: center;
}

header a{
    text-decoration: none;
    margin-right: 30px;
    color: var(--colorpage);
}

/* Main */

h1{
    text-align: center;
    margin: 2rem 2rem;
}
img{
    height: 70vh;
    border: 2px solid black;
    display: inline;
}

.general-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.aside-container{
    text-align: center;
    margin-left: 50px;
}

.aside-container p{
    margin: 3.5rem 3.5rem;
    font-weight: 500;
    font-size: 1.5rem;
}

aside > button{
    width: 300px;
    height: 50px;
    text-transform:uppercase;
    background-color: var(--colorbutton);
    border: none;
    border-radius: 5px;
}

aside > button:hover{
    background-color: var(--colorbuttonhover);
}

aside > button > a{
    font-size: 1.1rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

/* Footer */
footer{
    background-color: var(--colorfooter);
    height: 30vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer > p{
    color: white;
    text-align: center;
    padding-bottom: 1.5rem;
}

footer > button{
    text-transform: uppercase;
    width: 500px;
    height: 50px;
    background-color: var(--colorbutton);
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

footer > button > a{
    font-size: 1.1rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
}

footer > button:hover{
    background-color: var(--colorbuttonhover);
}

