* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

/*########## HEADER ##########*/

header {
    background-color: #252525;
}

header > h1 {
    text-align: center;
    padding: 2rem;
    color: whitesmoke;
}

/*########## MAIN ##########*/

main {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem 2rem;
    row-gap: 3rem;
}

main > div {
    min-height: 300px;
    min-width: 300px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 4px 4px 30px rgba(37, 37, 37, 0.15);
    overflow: hidden;
}

main > div > header {
    background-color: #252525;
    height: 18%;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > div > header > p {
    color: white;
    font-size: 1.2rem;
}

main > div > div {
    background-color: white;
    width: 300px;
    height: 82%;
}

/*:hover*/
.animation1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation1 > p {
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.animation1 > p:hover {
    color: red;
}

/*:focus*/
.animation2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.animation2 > nav {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.animation2 > nav > a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #252525;
    background-color: yellow;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #252525;
}

.animation2 > nav > a:focus {
    background-color: red;
}

/*transition :hover*/
.animation3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation3-object {
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 50%;
    transition: all 1s ease-in-out;
}

.animation3-object:hover {
    background-color: red;
}

/*transformation scale*/
.animation4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation4-object {
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 5px;
    transition: transform 1s ease-in-out;
}

.animation4-object:hover {
    transform: scale(2);
}

/*transformation rotate*/
.animation5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation5-object {
    width: 150px;
    height: 150px;
    background-color: rebeccapurple;
    border-radius: 5px;
    transition: transform 2s ease-in-out;
}

.animation5-object:hover {
    transform: rotate(720deg);
}

/*transformation rotate3D*/
.animation6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation6-object {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 5px;
    transition: transform 1s ease-in-out;
}

.animation6-object:hover {
    transform: rotate3d(1, 5, 3, 180deg);
}

.animation6-object > p{
    font-size: 3rem;
    font-weight: bold;
}

/*transformation skew*/
.animation7 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation7-object {
    width: 150px;
    height: 150px;
    background-color: gold;
    border-radius: 5px;
    transition: transform 1s ease-in-out;
}

.animation7-object:hover {
    transform: skew(30deg, 25deg);
}

/*transformation translate*/
.animation8 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation8-object {
    width: 100px;
    height: 100px;
    background-color: orange;
    border-radius: 5px;
    transition: transform 1s ease-in-out;
}

.animation8:hover .animation8-object {
    transform: translate(50px, -50px);
}

/*animation 1*/
.animation9 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation9-object {
    width: 50px;
    height: 50px;
    background-color: palevioletred;
    border-radius: 5px;
    animation: square 4s ease-in-out infinite normal;
}

@keyframes square {
    from {
        transform: translate(100px, -80px) rotate(90deg);
        background-color: palevioletred;
    }

    25% {
        transform: translate(-100px, -80px);
        background-color: green;
    }

    50% {
        transform: translate(-100px, 80px) rotate(-90deg);
        background-color: yellow;
    }

    75% {
        transform: translate(100px, 80px);
        background-color: blue;
    }

    to {
        transform: translate(100px, -80px) rotate(90deg);
        background-color: palevioletred;
    }
}

/*animation 2*/
.animation10 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.animation10-object {
    width: 50px;
    height: 50px;
    background-color: yellowgreen;
    border-radius: 50%;
    animation: boing 4s ease-in-out infinite alternate;
}

@keyframes boing {
    from {
        transform: translate(0, -150px);
    }

    20% {
        transform: translate(0, 150px);
    }

    40% {
        transform: translate(-150px, 150px);
    }

    60% {
        transform: translate(180px, -150px);
    }

    80% {
        transform: translate(250px, 250px);
    }

    to {
        transform: translate(-150px, -150px);
    }
}

/*animation 3*/
.animation11 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.animation11-object {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    background-color: red;
    animation: shapes 5s ease infinite normal;
}

@keyframes shapes {
    from {
        transform: translate(60px, -60px) scale(2);
    }

    25% {
        transform: translate(-60px, -60px) scale(0.5);
        background-color: orange;
    }

    50% {
        transform: translate(-60px, 60px) rotate(45deg);
        background-color: gold;
    }

    75% {
        transform: translate(60px, 60px) skew(30deg, 25deg);
        background-color: pink;
    }

    to {
        transform: translate(60px, -60px) scale(2);
    }
}

/*animation 4*/
.animation12 {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.animation12-object {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    background-color: red;
    animation: scales 5s ease infinite normal;
}

@keyframes scales {
    from {
        transform: scale(1.5);
    }

    10% {
        transform: scale(1.8);
    }

    20% {
        transform: scale(2);
    }

    30% {
        transform: scale(0.5);
    }

    40% {
        transform: scale(0.1);
    }
    
    50% {
        transform: scale(2.5);
    }

    60% {
        transform: scale(1);
    }

    70% {
        transform: scale(2);
    }

    80% {
        transform: scale(0.3);
    }

    90% {
        transform: scale(1);
    }

    to {
        transform: scale(1.5);
    }
}