@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

/*MAIN*/
.user-pic {
  width: 150px;
  border-radius: 50%;
  border-top: 3px solid #3285c7;
  border-right: 3px solid #1fceb9;
  border-bottom: 3px solid #1fceb9;
  border-left: 3px solid #3285c7;
}

form {
  max-width: 380px;
  height: 600px;
  margin: 4rem auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 45px #c1c1c1;
}

.wave-decoration {
  position: absolute;
  width: 250%;
  bottom: -88px;
  z-index: -1;
}

h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

form > h3 {
  font-size: 0.8rem;
  margin-top: 1rem;
}
/*INPUTS & LABELS*/
input {
  display: block;
  height: 30px;
  width: 300px;
  border: none;
  outline: none;
  margin-bottom: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 2px solid black;
  background-color: transparent;
}

input[type='password'] {
  font-weight: 800;
  letter-spacing: 0.2rem;
}

label {
  position: absolute;
  transform: translateY(-62px);
  transition: font-size 0.5s, transform 0.5s, color 0.5s;
  font-size: 0.9rem;
}

.btn {
  width: 250px;
  height: 35px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #b8f0e9;
  cursor: pointer;
  position: absolute;
  top: 420px;
}

/*placeholder-shown actúa al mostrarse el placeholder. En este caso lo negamos con :not lo que
quiere decir que cuando el placeholder no esté seguimos ejecutando el bloque de propeidades.
Nuestro placeholder es un espacio vacío y desaparece cuando escribimos algo. Por lo tanto
mientras los inputs tengan contenido el bloque de propiedades va a ejecutarse. De esta forma
mantenemos el label donde queremos siempre que el input no esté vacío!*/
input:focus + label,
input:not(:placeholder-shown) + label {
  transform: translateY(-85px);
  font-size: 0.7rem;
  color: rgba(37, 37, 37, 0.5);
}

/*FOOTER*/
footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'follow follow follow '
    'facebok instagram twitter';
  justify-items: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.5rem;
  width: 100%;
  border-radius: 5px;
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

footer > h3 {
  grid-area: follow;
  font-size: 0.8rem;
}

footer > img {
  width: 35px;
}
