@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
}

/*MAIN*/
main > form > img:first-child {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 1rem 0 1rem 0;
  border-top: 3px solid #eb144c;
  border-left: 3px solid #eb144c;
  border-bottom: 3px solid #e87794;
  border-right: 3px solid #e87794;
}

main > form > img:last-of-type {
  position: absolute;
  bottom: 0;
  width: 400px;
  height: 200px;
}

form {
  border-radius: 20px;
  background: #ede8e8;
  box-shadow: 0 4px 50px #b3b0b0;
  max-width: 400px;
  height: 600px;
  margin: 100px auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1rem;
}

h1 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  text-align: center;
}

h2 {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #eb144c;
  font-weight: 500;
}

input {
  height: 2.5rem;
  width: 80%;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 2px solid #e87794;
  padding: 0 1rem;
  outline: none;
  transition: border 0.5s ease;
  font-size: 1rem;
  font-family: 'Montserrat';
}

input[type='password'] {
  font-weight: 700;
  letter-spacing: 0.2rem;
}

input:focus {
  border: 2px solid #eb144c;
}

a {
  margin-top: 4rem;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.8rem;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  z-index: 1;
}

a > span {
  color: blue;
  cursor: pointer;
}

label {
  transform: translateY(-45px);
  color: black;
  transition: color 0.6s;
}

input:focus + label {
  color: transparent;
}
